    <% @articles.each do |article| %>
    <%= link_to article_path(article) do  %>
    <div class="article-card">
      <%= cl_image_tag article.photos[0].key, width: 800, height: 300, crop: :fill, class: "card-image" %>
      <div class="article-card-info">
      <h2 class="article-title"><%= article.title %></h2>
      <p class="article-description"><%= article.content %></p>
      <p class="date"><%= article.created_at.strftime("%F") %></p>
      </div>
    </div>
    <% end %>
    <% end %>
