<div class="container">
    <div id="me" class="card-section">
      <h1>Ashkan.</h1>
      <h4>Full Stack Developer, Shanghai</h3>
      <p><%= @profile.content %></p>
      <h2>Tech Stack</h2>
      <p><%= @skills.content %></p>
      <ul>
        <li><a class="social-tags" href="https://linkedin.com/in/ashkanyadegari" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a class="social-tags" href="https://github.com/ashkanyadegari" target="_blank"><i class="fab fa-github-square"></i></a></li>
      </ul>
    </div>

    <div class="card-section">
      <h2 id="blog">My Projects</h2>
    </div>
      <div class="cards">
        <% @projects.each do |project| %>
            <%= link_to article_path(project) do  %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(project.photos[0].key) %>)">
            <%= project.title %>
          </div>
          <% end %>
        <% end %>
      </div>



    <div class="card-section">
      <h2 id="blog">Article.last(3)</h2>
      <p>Read about my journey into the tech world. Stories, Interviews and Tutorials.</p>
    </div>
    <%= render 'components/articles' %>
    <div class="card-section">

      <h2 id="blog"><%= link_to 'Read More', articles_path %></h2>
    </div>



  </div>
